/* You can add global styles to this file, and also import other style files */

@for $i from 1 through 24 {
    .fs-#{$i} {
        font-size: $i*0.25rem !important;
    }

    .fw-#{$i} {
        font-weight: $i*100;
    }
}


.cursor-pointer {
    cursor: pointer;
}

a {
    text-decoration: none;
}

body {
    background-color: black;
}